nav.navbar.fixed-top.navbar-expand-md.navbar-top
  .container
    a.navbar-brand PRINT
    .collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="#section_ask") 引言 INTRO
        li.nav-item
          a.nav-link(href="#section_about") 簡介 ABOUT
        li.nav-item
          a.nav-link(href="#section_story") 故事 STORY
        li.nav-item
          a.nav-link(href="#section_comic") 漫畫 COMIC


header.jumbotron
  .container
    h1(data-150="transform: translateY(-50px)" data-500="transform: translateY(100px)") 漫畫 COMIC
    hr
    h4 探索無限創意與感動的奇幻世界
    
section#section_ask
  .container
    .row
     .col-sm-5.img(data-0="transform: translateX(-200px)" data-500="transform: translateX(0px)")
     .col-sm-7(data-300="opacity:0" data-500="opacity:1")
       h2 漫畫是什麼呢？
       
section#section_about
  .container
    .row
      .col-sm-12(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
        h1 漫畫的故事
        hr
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://i.imgur.com/fWKxJq1.jpeg", alt="")
        h3 起源與發展
        p 日本漫畫的歷史可以追溯到12世紀的繪卷物，這些早期的圖畫卷軸展示了連環圖像的藝術形式。<br><br>19世紀的浮世繪對現代漫畫影響深遠，浮世繪藝術家如葛飾北齋的作品展示了早期漫畫的雛形。<br><br>二戰後，許多著名漫畫家如手塚治虫等人創作了大量經典作品，日本漫畫迎來了黃金時期。
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://attach.setn.com/newsimages/2021/11/06/3392459-PH.jpg", alt="")
        h3 漫畫產業
        p 日本漫畫產業非常龐大，涵蓋漫畫書、漫畫雜誌和數位漫畫平台。主要出版社包括集英社、講談社和小學館。<br><br>週刊連載是日本漫畫的主要形式之一，漫畫家需按週提交作品。漫畫改編成動畫是常見的現象，並進一步推動了漫畫的普及。
      .col-md-4.col-sm-6
        .img_wrap(data-bottom-top="transform: translateY(-50px);opacity: 0" data-center="transform: translateY(0px);opacity: 1")
          img(src="https://taiwanngo.tw/Upload/FileManager/90d98c25-b135-476f-88df-75269176e98f.jpg", alt="")
        h3 風格與類型
        p 日本漫畫風格多樣，涵蓋不同年齡層和興趣的讀者群體。<br><br>少年漫畫、少女漫畫、青年漫畫和成人漫畫是主要類型。BL漫畫（男同性戀愛漫畫）和百合漫畫（女同性戀愛漫畫）也擁有廣大粉絲群。

section#section_story
  .container-fluid
    .row
      .col-sm-5.map(data-bottom-top="background-size: 150%;background-position: 0% 0%" data-center="background-size: 100%;background-position: 50% 50% ")
      .col-sm-7
        .col-sm-12.top
          h2 日本漫畫對國際的影響
          hr
        .col-sm-12.features
          .row
            .col-sm-4
              i.fa.fa-paper-plane-o(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
              h4 文化傳播
            .col-sm-4
              i.fa.fa-money(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
              h4 經濟影響
            .col-sm-4
              i.fa.fa-lightbulb-o(data-bottom-top="transform: scale(1.5);opacity: 0" data-center="transform: scale(1);opacity: 1")
              h4 創作啟發
        .col-sm-12.bottom
            p 日本漫畫對國際的影響廣泛且深遠，漫畫成功將日本文化傳播至全球，吸引了大量國際讀者，促進了跨文化交流。日本漫畫在全球市場上的銷售額十分可觀，推動了動畫、遊戲和周邊產品等相關產業的發展，影響了世界各地的創作者，許多作家從中獲得靈感，創作出具有日漫風格的作品，進一步推動了全球漫畫市場的繁榮。
            
section#section_comic
  .container-fluid
    .row
      .col-sm-12
        h2 風靡全球的暢銷漫畫
        hr
      .col-sm-6
        img(src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=1200,height=675/catalog/crunchyroll/a249096c7812deb8c3c2c907173f3774.jpe", alt="")
      .col-sm-6.text(data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)")
        
        i.fa.fa-book 
        h3 《ONE PIECE》
        p 由日本漫畫家尾田榮一郎創作，自1997年起在《週刊少年Jump》上連載。<br><br>故事講述了主角蒙奇·D·魯夫，為了成為「海賊王」出海冒險，尋找傳說中的寶藏「ONE PIECE」。魯夫擁有橡膠果實的超能力，能夠伸縮自如，並在旅途中結識了一群志同道合的夥伴，包括劍士索隆、航海士娜美、廚師香吉士和醫生喬巴等。<br><br>該漫畫以其豐富的想像力、緊湊的劇情和深刻的人物刻畫，吸引了全球數百萬讀者。迄今為止，《海賊王》已銷售超過4億冊，成為史上最暢銷的漫畫之一，並被改編成動畫、電影和遊戲等多種媒體形式。
        
      .col-sm-6
        img(src="https://media.gq.com.tw/photos/5ff4378204b957ff551fadf8/16:9/w_2560%2Cc_limit/11801-b_201222.jpg", alt="")
      .col-sm-6.text(data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)")
        
        i.fa.fa-book 
        h3 《進擊的巨人》
        p 日本漫畫家諫山創的作品，自2009年起在《別冊少年Magazine》上連載。<br><br>故事設定在一個人類被巨人威脅的世界中，主人公艾連·葉卡決心要消滅所有巨人，為此加入了調查兵團。隨著劇情發展，人類與巨人之間的真相逐漸揭示，牽動著深層次的陰謀與戰爭。<br><br>《進擊的巨人》以其扣人心弦的劇情、深刻的主題和震撼的視覺效果，迅速成為全球現象級作品，漫畫銷量超過1億冊，並被改編成動畫、電影和遊戲等多種形式。
      
      
      .col-sm-6
        img(src="https://i0.wp.com/news.qoo-app.com/wp-content/uploads/2021/09/2109010657406.jpg", alt="")
      .col-sm-6.text(data-bottom-top="transform: translateX(50px)" data-center="transform: translateX(0px)")
        
        i.fa.fa-book 
        h3 《鬼滅之刃》
        p 日本漫畫家吾峠呼世晴創作，自2016年開始在《週刊少年Jump》上連載。<br><br>故事講述少年炭治郎的家人被鬼殺害，妹妹禰豆子變成鬼，為了尋找治療妹妹的方法並為家人報仇，炭治郎決心成為鬼殺隊的一員。炭治郎在旅途中遇到各種夥伴，與強大的鬼族展開激烈戰鬥。<br><br>該漫畫因其感人至深的情節、精美的畫風和豐富的角色設計而廣受歡迎，銷量超過2億冊，並被改編成高人氣的動畫和電影。
hr
section#section_end 
  h1 結語
  p 日本漫畫以其豐富的故事情節、多樣的風格和深刻的情感表達，吸引了全球數百萬讀者的心。<br><br>從熱血冒險到浪漫愛情，從科幻奇幻到現實生活，每一部作品都展現了創作者的無限創意和對生活的深刻洞察，<br><br>不論你是資深漫畫迷，還是剛剛開始探索這個精彩世界的新手，都能帶給你無盡的樂趣和感動。
footer.jumbotron
  .container
    h2 想了解更多漫畫的魅力嗎？
    input.form-control(placeholder="Email")
    hr
    button.btn.btn-light 訂閱我們